
a:link {
  color: ghostwhite;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: ghostwhite;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: royalblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: royalblue;
  background-color: transparent;
  text-decoration: underline;
}

header {
    margin: 0;
    padding: 16px;
    background-color: black;
    color: white;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin: 0;
    padding: 16px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
